[Desktop Entry]
Type=Application
Name=FlutterDesktopEntryExampleLauncher
Exec=/home/mark/Documents/dartdesktopentry/example/build/linux/x64/debug/bundle/launcher.sh %u
MimeType=x-scheme-handler/markvideon;
