[Desktop Entry]
Version=1.0
X-UnknownKey=UnknownValue
Type=Application
Name=Foo Viewer
Comment=The best viewer for Foo objects available!
TryExec=fooview
Exec=fooview %u
Icon=fooview
MimeType=image/x-foo;x-scheme-handler/fooview;
Actions=Gallery;Create;

X-Desktop-File-Install-Version=0.26

[X-UnknownGroup]
X-UnknownGroup=Unknown Value

[X-EmptyGroup]

# comment line above desktop action gallery

[Desktop Action Gallery]
Exec=fooview --gallery
Name=Browse Gallery

[Desktop Action Create]
Exec=fooview --create-new
Name=Create a new Foo!
Icon=fooview-new
